{% extends 'base.html.twig' %}

{% block title %}Travel{% endblock %}

{% block body %}

<div class="container">
	<h1>{{ offers.destination }}</h1>
	<p>{{ offers.price }}</p>
</div>

{% endblock %}